*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

@font-face {
  font-family: "Vazir";
  src: url("assets/font/Vazirmatn-Regular.woff2") format("woff2");
}

:root {
  --color-primaray: #219f95;
  --color-badge: #afcedd;
  --color-badge-text: #234894;
  --color-body: #1e1e1e;
  --color-body-light: #696969;
  --color-white: #fff;
  --border-redius:25%
}

html {
  font-size: 62.5%;
}

body {
  color: var(--color-body);
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-family: Vazir;
}

.card {
  width: calc(100vw - 4rem);
  max-width: 60rem;
  /* overflow-y: auto; */
  /* max-height: calc(100vh - 4rem); */
  display: flex;
  flex-direction: column;
}

.card__header {
  /* background-color: gray; */
  font-size: 2.2rem;
  align-self: center;
  height: 5rem;
  margin-bottom: 2rem;
  /* border-bottom: 1px solid var(--color-body); */
}

.card__body {
  /* background-color: green; */
  height: 5rem;
}
.container {
  background-color: #fff;
  padding: 20px;
  border-radius: var(--border-redius);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: auto;
  margin-top: 0.5rem;
  /* display: grid; */
  /* grid-template-columns: repeat(2,auto); */
}

.date {
  color: var(--color-body-light);
  font-size: 14px;
  margin-bottom: 10px;
}

.upload-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.step-number {
  background-color: var(--color-badge);
  border-radius: var(--border-redius);
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin-left: 10px;
  color: var(--color-badge-text);
}

.step-text {
  font-size: 16px;
  color: var(--color-badge-text);
}

.request-section {
  margin-bottom: 20px;
}

.request-section h2 {
  font-size: 18px;
  margin-bottom: 5px;
  color: #333;
}

.request-id {
  color: var(--color-body-light);
  font-size: 14px;
  margin-bottom: 10px;
}

.user-info {
  display: flex;
  align-items: center;
}

.profile-pic {
  border-radius: var(--border-redius);
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

.user-name {
  font-size: 16px;
  color: #333;
}

.view-request {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: Vazir;
}

@media screen and (min-width: 480px) {
  .card__body {
    /* width: calc(100vw - 4rem); */
    max-width: 60rem;
    /* overflow-y: auto; */
    /* max-height: calc(100vh - 4rem); */
    display: grid;
    grid-template-columns: repeat(2, auto);
    /* justify-items: center;
    
    */
    align-items: center;
    gap: 5rem;
    /* grid-template-rows: repeat(2,fr); */
  }
}

@media screen and (min-width: 1028px) {
  .card__body {
    /* width: calc(100vw - 4rem); */
    /* max-width: 60rem; */
    /* overflow-y: auto; */
    /* max-height: calc(100vh - 4rem); */
    display: grid;
    grid-template-columns: repeat(3, auto);
    /* justify-items: center; */
    /* align-items: center; */
    justify-content: space-around;
    /* align-content: center; */
    gap: 5rem;
  }
  .container {
    border: none;
    box-shadow: none;
  }
}
